<!DOCTYPE html>
<html>
<head>
	<title>Credentials Reset</title>
</head>
<body>

	New Password : <%= reset_data.token %> <br>
	<h2>Use This token with your foster account to login and reset your password.</h2>
</body>
</html>