<!DOCTYPE html>
<html>
<head>
    <title>foster</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/404.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a href="/browse" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Go Back <img src="/images/image.png" class="img-thumbnail" height="50" width="50"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


